@import url(global.css);
@import url(layout.css);

.containerprimeira .informacao-crianca .caixaleia{
    border:1px solid green;
    width:100%;
    /* background-color: green; */
    padding:20px 0;
}

.containerprimeira .informacao-crianca .caixaleia .leia{
    border:1px solid red;
    /* background-color: yellow; */
    display: flex;
    align-items: baseline;
    column-gap: 5px;
    width: 100%;
    cursor: pointer;

    & p{
        font-size: 0.9rem;
        display: inline-block;
        

        & b{
            font-weight: 500;
        }
    }

}

.containerprimeira .informacao-crianca .parteendereco{
    height:auto;
    margin-top: 50px;
}

.containerprimeira .informacao-crianca .parteendereco label{
    display: flex;
    flex-direction: column;
}

.containerprimeira .informacao-crianca .parteendereco .infoextra{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}

.parteendereco .infoextra .rua-numero, .parteendereco .infoextra .cidade-estado{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 15px;
}

.containerprimeira .informacao-crianca .informacao-responsavel{
    margin-top: 50px;
}

.containerprimeira .informacao-crianca .informacao-responsavel label{
    display: flex;
    flex-direction: column;
}


.containerprimeira .informacao-crianca .informacao-responsavel .nome-responsavel i{
    font-size: 0.7rem;
}

.containerprimeira .informacao-crianca .opcoesmatricula{
    margin-top: 50px;
    row-gap: 5px;
}

.containerprimeira .informacao-crianca .opcoesmatricula p{
    font-weight: 300;
}

.containerprimeira .informacao-crianca .opcoesmatricula .opcoesdematricula{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}

.containerprimeira .informacao-crianca .opcoesmatricula .opcoesesport{
    margin-top: 50px;

    & p{
        margin-bottom: 10px;
    }

    & .containersport{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;

        & label{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px;
            background-color: var(--cor-secundaria);
            border-radius: 5px;
            cursor: pointer;

            & input[type="radio"]{
                align-self: flex-start;
            }


            & p{
                margin-top: 20px;
                font-size:0.9rem
            }
        }
    }
}

.containersport label:hover{
    box-shadow: 0px 0px 7px var(--cor-fonte1);
}

.opcoesdematricula .matricula{
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-secundaria);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        box-shadow: 0px 0px 7px rgb(100, 42, 3);
        transition: 0.1s ease-in-out;

    }
}

.opcoesdematricula .matricula input[type="radio"]{
    align-self:start;
    justify-self: start;
}