@import url(global.css);

main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

main{
    display: grid;
    grid-template-columns: 50% 50%;
    height:100dvh;
}

.primeira, .segunda{
    padding: var(--espaco-container);
}

main .primeira{
    display: flex;
    justify-content: center;
    overflow: auto;
    background-color: var(--cor-terciaria);
}

main .segunda{
    display: flex;
    justify-content: center;
    height:100dvh;
    overflow: hidden;
} 

main .primeira .containerprimeira{
    /* width: 100%; */
    max-width: 34.375rem;
    /* margin: auto; */
    /* margin: auto; */
    margin-left: auto;
}

main .segunda .containersegunda{
    /* width: 100%; */
    max-width: 34.375rem;
    /* border: 1px solid green; */
    /* margin: auto; */
    overflow: hidden;
    margin-right: auto;
}

.primeira .containerprimeira .voltar{
    width: min-content;
    color:var(--cor-fonte1);
    display: flex;
    column-gap: 8px;
    text-decoration: none;
    margin: 0 0 30px 0;
    align-items: center;
}

.primeira .containerprimeira .caixatexto{
    /* background-color: pink; */
    font-family: "Poppins";
    margin-bottom: 50px;
}

.primeira .containerprimeira .caixatexto .texto1{
    font-weight: 400;
    /* margin-top: 5px; */
}

.segunda{
    background-color: var(--cor-secundaria);
    
}

.segunda .containersegunda .caixalogo{
    display: flex;
    column-gap: 5px;
    align-items: baseline;
}

.segunda .containersegunda .caixalogo .bi-star-fill{
    color: var(--cor-primaria);
}

.segunda .containersegunda .conteudo .texto3{
    color: var(--cor-fonte1);
    margin-top:10px;
}

span{
    color:var(--cor-primaria);
    text-shadow: 1px 1px 5px var(--cor-fonte1);
}

.containersegunda h2{
    font-size:1.5rem
}

.segunda .containersegunda .imagem{
    background: url("../assets/capa_materia2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    height: 300px;
}

.primeira .containerprimeira form fieldset legend{
    font-size:1.7rem;
    font-weight: 500;
    color:var(--cor-fonte1);
    padding:0;
    margin-bottom: 20px;
}

.primeira .containerprimeira form fieldset{
    display: grid;
    row-gap: 30px;
}

.informacao-crianca fieldset .caixote{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

label{
    font-weight: 300;
}

.informacao-crianca fieldset .genero, .informacao-crianca fieldset .containertext, .informacao-crianca fieldset .droparea{
    display: grid;
}

input[type="text"]{
    outline: none;
    padding:15px;
    outline-offset: 1px;
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
    font-family: "Poppins";
}

input[type="date"]{
    outline: none;
    padding:15px;
    outline-offset: 1px;
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
    font-family: "Poppins";
}

select{
    outline: none;
    padding:15px;
    outline-offset: 1px;
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
    font-family: "Poppins";
    appearance: none;
}

textarea{
    text-align: start;
    outline: none;
    width: 100%;
    height:250px;
    /* outline-offset: 1px; */
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
    font-family: "Poppins";
    resize: none;
}

input[type="text"]:focus, input[type="date"]:focus, select:focus, textarea:focus{
    box-shadow: 0px 0px 7px var(--borda-input);
    transition: 0.2s ease-in-out;
    color:var(--cor-fonte1);
}

fieldset .droparea{
    width:100%;
    height:auto;
    /* background-color: green; */
    display: flex;
    /* background-color: green; */

}

fieldset .droparea .nuvem{
    width:50px;
    height:50px;
}

fieldset .droparea label{
    /* background-color: yellow; */
}

input[type="file"]{
    width:100%;
    max-width: 100%;
    border: 1px dashed var(--cor-borda);
    height:250px;
    border-width: 2px;
    display: flex;
    /* padding: 40%; */
    /* background-color: skyblue; */
    color:transparent;
}

input[type="file"]::file-selector-button {
  display: none;
}