@import url(global.css);
@import url(layout.css);

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: var(--cor-fonte1);
    font-family: "Poppins";
}

fieldset{
    padding: 0;
    margin: 0;
}